In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine, inspect
from flask import Flask, jsonify

In [6]:
path = "sqlite:///Resources/hawaii.sqlite"
engine = create_engine(path)
conn = engine.connect()

In [7]:
inspector = inspect(engine)

tables = inspector.get_table_names()
tables

['measurement', 'station']

In [8]:
query = """
        SELECT
            date,
            station,
            prcp
        FROM
            measurement
        ORDER BY 
            date asc,
            station asc
        """

df = pd.read_sql(query,conn)
df

             date      station  prcp
0      2010-01-01  USC00511918  0.05
1      2010-01-01  USC00513117  0.28
2      2010-01-01  USC00516128  0.14
3      2010-01-01  USC00518838  0.21
4      2010-01-01  USC00519281  0.15
...           ...          ...   ...
19545  2017-08-22  USC00519523  0.00
19546  2017-08-23  USC00514830  0.00
19547  2017-08-23  USC00516128  0.45
19548  2017-08-23  USC00519397  0.00
19549  2017-08-23  USC00519523  0.08

[19550 rows x 3 columns]